body {
  font-family: Arial;
  text-align: center;
  background: #121212;
  color: white;
}

.container {
  margin-top: 50px;
}

input, textarea {
  padding: 10px;
  margin: 10px;
  width: 250px;
}

textarea {
  height: 100px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.hidden {
  display: none;
}